.table-middle {
    font-size: 0.8em !important;
}

.table-small {
    font-size: 0.6em !important;
}

.highlighted-text {
    color: #8dcffc;
}

.highlighted-table-cell {
    background: #097209;
}

.stretch > iframe {
    width: 100% !important;
    height: 100% !important;
}

.reveal .slides {
    z-index: auto;
}

.reveal .slide-background.present {
    z-index: 2;
}